.home-container {
  width: 100%;
  text-align: center;
}

.about-me {
  text-align: left;
  border-style: solid;
  border-color: rgb(96, 96, 96);
  border-width: 1px;
  background-color: rgb(121, 141, 191);
}

.about-me p {
  padding-top: 20px;
}

.home-container p {
  font: 20px/1 Helvetica, Verdana, sans-serif;
}

.thead-main {
  background-color: rgb(57, 57, 57);
  color: rgb(245, 245, 245);
}

.uncentered-td {
  text-align: left;
}

.offset-white-background {
  background-color: rgb(236, 236, 236);
}
