.jumbotron-div {
  height: auto;
  background: rgb(45, 45, 45);
  text-align: center;
  align-items: center;
}

.jumbotron-div h1 {
  color: rgb(255, 255, 255);
}

.nav-bar-div nav {
  padding-top: 20px;
}

.nav-bar-div ul {
  list-style-type: none;
}

.nav-bar-div ul li {
  display: inline-block;
  border-right-style: solid;
  border-right-color: rgb(184, 201, 255);
  padding-left: 20px;
  padding-right: 20px;
}

.nav-bar-div li:last-child {
  border-right: none;
}

.nav-bar-div li a {
  text-decoration: none;
  color: #ccc;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
}

.nav-bar-div li a:hover {
  color: #4c62b1;
}
